<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css')}}">
    <title>TicTac-Toe</title>
</head>
<body>
    <div id="menu">
        <div></div>
        <div>
            <input id="room" type="text" maxlength="4" autofocus placeholder="Roomname">
            <br/>
            <br/>
            <input id="name" type="text" placeholder="Name">
            <br/>
            <br/>
            <div id='options'>
                <button onclick="button(1)">Join Game</button>
                <button onclick="button(2)">Create</button>
            </div>
        </div>
        <div></div>
    </div>
        <!--  -->
    <h3 id="tName"></h3>
    <div id="container">
        <div class=space id=a>.</div>
        <div class=space id=b>.</div>
        <div class=space id=c>.</div>
        <div class=space id=d>.</div>
        <div class=space id=e>.</div>
        <div class=space id=g>.</div>
        <div class=space id=h>.</div>
        <div class=space id=i>.</div>
        <div class=space id=j>.</div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='game.js')}}"></script>
-->
 <script>
    class Game
    {
        constructor()
        {
            this.field=[
                0,0,0,
                0,0,0,
                0,0,0
            ]
            this.turns=0
            this.room=null
            this.start=false
        }
        play(pos,sym)
        {
            this.field[pos]=sym
            this.turns++
        }
        check(n)
        {
            if(!this.field[n])
            {
                return true
            }
            return false
        }

        //checkWin()
    }
    class Player
    {
        constructor(name,symbol)
        {
            this.name=name
            this.symbol=symbol
            this.turn=false
        }
    }
    //////////
    //**global variables
    let game = new Game()
    let myPlayer = null
    var socket = io();

    let menu=document.getElementById('menu')
    let board=document.getElementById('container')
    let tiles = document.getElementsByClassName('space')
    let status = document.getElementById('tName')

    for(let i=0;i<tiles.length;i++)
    {
        tiles[i].addEventListener('click',function()
        {
            if( myPlayer.turn )
            {
                socket.emit('play',{'symbol':myPlayer.symbol,'room':game.room,'move':i})
                myPlayer.turn=false
            }
            else
            {
                console.log('not your turn')
            }
        })
    }
    //////////
    function button(x)
    {
        let room=document.getElementById('room')
        let name=document.getElementById('name')
        
        if(room.value.length && name.value.length)
        {
            if(x===1)//join
            {
                myPlayer = new Player(name.value,'O')
                socket.emit('joinRoom',{'name':name.value,'room':room.value})
            }
            else//create
            {
                myPlayer= new Player(name.value,'X')//make a player 2
                socket.emit('createRoom',{'name':name.value,'room':room.value})
            }
            game.room=room.value
        }
        else
        {
            alert('Enter room and name!')
        }
        room.value=''
        name.value=''
    }

/* socket.on('connect', function() {
    console.log('someone joined');
    //socket.emit('join', {username:'kevin',room:'0'})
   
}); 
*/

socket.on('entered',function(data)
{
    if(menu)
    {
        menu.remove()
    }

    board.style.display='grid'
    console.log(data.message)
    if(data.second)
    {
        //send a symbol of 'O' to start player 'X' as the active player
        socket.emit('changeTurn',{'symbol':'O','room':game.room})
        status.style.display='block'
    }
})

socket.on('newTurn',function(data)
{
    let symbol=data.symbol
    let currPlayer=''
    if(myPlayer.symbol===symbol)
    {
        myPlayer.turn=true
        currPlayer=myPlayer.name
    }
    if(currPlayer==='')
        status.innerText = `It's not your turn.`
    else
        status.innerText = `It's your turn`
})

socket.on('cast',function(data)
{
    const { symbol,move }=data

    if(game.check(move))
    {
        game.play(move,symbol)//publish player's turn
        tiles[move].innerText=symbol
        socket.emit('changeTurn',{'symbol':symbol,'room':game.room})//end this turn
    }
    else
    {
        console.log('Spot used')
    }
})

socket.on('err',function(data)
{
    alert(data.message)
})
</script> 
</html>