*
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
html, body
{
    height: 100%;
    font-family: sans-serif;
    font-size: 2em;
}
#menu
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* for IE 9 */
    -webkit-transform: translate(-50%, -50%); /* for Safari */
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#menu input
{
    width: 100%;
    border-radius: 5px;
}
#options
{
    display: flex;
    justify-content: space-around;
}
#container
{

    display: none;
    grid-template-columns: repeat(3, 1fr);
    height:40%;
    border-radius: 15px;
    border:solid black;
    margin: 0 2%;
}
/* crosses */
h2.space:nth-child(n+1):nth-child(-n+3)/*1st to 3rd*/
{
    border-bottom: solid black;
}
h2.space:nth-child(n+4):nth-child(-n+6)
{
    border-top: solid black;
    border-bottom: solid black;

}
h2.space:nth-child(n+7)/*7th onward*/
{
    border-top: solid black;
}
h2.space.left
{
    border-right: solid black;
}
h2.space.mid
{
    border-right: solid black;
    border-left: solid black;
}
h2.space.right
{
    border-left: solid black;
}
/*  */
#container .space
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#tName
{
    display: none;
    text-align: center;
}
@media only screen and (min-width: 450px)
{
    #container
    {
        height: 60%;
    }
}
@media only screen and (min-width: 600px)
{
    #container
    {
        height: 85%;
    }
}
@media only screen and (min-width: 800px)
{
    #container
    {
        height: 96%;
        margin: 0 15%;
    }
}